
body {
    margin: 0;
    font-family: sans-serif;
}
#header {
    position: relative;
}
#button-div {
    position: absolute;
    top: 0;
    left: 15%;
}
#header-image {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}
#button {
    border: none;
    font-size: 15px;
    display: flex;
    cursor: pointer;
    background-color: #151515;
    height: 40px;
    border-radius: 4px;
}
#button-link {
    text-decoration: none;
}
#div-svg {
    background-color: #d5966c;
    color: #ffffff;
    border: none;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 7.5px;
    padding-top: 4px;
    margin-left: 0px;
    margin-bottom: 0px;
}
#div-back-to-home {
    color: #ffffff;
    padding: 6px;
    padding-right: 10px;
}
#location-pin {
    position: absolute;
    top: 42%;
    left: 47.5%;
    opacity: 0;
} 
#div-svg:hover {
    background-color: #151515;
    transition-duration: 0.6s;
}
#button:hover {
    background-color: #d5966c;
    transition-duration: 0.6s;
}
#main {
    display: flex;
    background-color: #151515;
    color: #ffffff;
    padding-top: 50px;
    height: 300px;
}
#description-div {
    margin-left: 130px;
}
#description-detail {
    width: 350px;
    margin-left: 250px;
}
#description-detail-head {
    color: #d5966c;
}
#description-div-head {
    font-size: 45px;
}
#footer {
    background-color: #d5966c;
    display: flex;
    height: 220px;
}
#footer-div-heading {
    margin-left: 130px;
    width: 300px;
    padding-top: 30px;
}
#footer-div-description {
    width: 450px;
    margin-left: 100px;
    padding-top: 40px;
}
#footer-div-link {
    display: flex;
    margin-left: 100px;
    margin-right: 10px;
    padding-top: 50px;
}
.location-footer-icon {
    padding: 5px;
}
.location-footer-image:hover {
    background-color: #151515;
    transition-duration: 0.6s;
    border-radius: 2px;
}

@media (max-width: 1000px) {
    #location-svg {
        width: 48px;
        height: 59px;
    }
    #description-div {
        margin-left: 50px;
    }
    #description-detail {
        margin-left: 200px;
    }
    #footer-div-heading {
        font-size: 15px;
        margin-left: 30px;
        width: 350px;
        padding-top: 30px;
    }
    #footer-div-description {
        width: 350px;
        margin-left: 0px;
        padding-top: 40px;
    }
    #footer-div-link {
        display: flex;
        margin-left: 100px;
        padding-top: 50px;
        margin-right: 40px;
    }
}

@media (max-width: 900px) {
    #location-svg {
        width: 43px;
        height: 52px;
    }
    #description-detail {
        margin-left: 100px;
    }
    #footer-div-heading {
        font-size: 11px;
        margin-left: 30px;
        width: 350px;
        padding-top: 50px;
    }
    #footer-div-description {
        width: 430px;
        margin-left: 10px;
        padding-top: 40px;
    }
    #footer-div-link {
        display: flex;
        margin-left: 100px;
        padding-top: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 800px) {
    #location-svg {
        width: 38px;
        height: 47px;
    }
    #footer {
        background-color: #d5966c;
        display: flex;
        height: 230px;
    }
    #footer-div-description {
        width: 430px;
        margin-left: 35px;
        padding-top: 40px;
    }
}

@media (max-width: 750px) {
    #location-svg {
        width: 33px;
        height: 42px;
    }
    #description-detail {
        margin-left: 60px;
    }
}

@media (max-width: 650px) {
    #location-svg {
        width: 23px;
        height: 25px;
    }
    #main {
        display: flex;
        flex-direction: column;
        background-color: #151515;
        color: #ffffff;
        padding-top: 50px;
        height: 500px;
        padding-left: 0px;
    }
    #footer {
        background-color: #d5966c;
        display: flex;
        flex-direction: column;
        height: 450px;
    }
    #footer-div-heading {
        font-size: 15px;
        margin-left: 52px;
        width: 350px;
        padding-top: 30px;
    }
    #footer-div-description {
        width: 350px;
        margin-left: 52px;
        padding-top: 40px;
    }
    #footer-div-link {
        display: flex;
        margin-left: 52px;
        padding-top: 50px;
        margin-right: 40px;
    }
}
@media (max-width: 350px) {
    #location-svg {
        width: 20px;
        height: 20px;
    }
    #description-div {
        margin-left: 70px;
    }
    #description-detail {
        margin-left: 150px;
    }
    #footer-div-heading {
        margin-left: 70px;
    }
    #footer-div-description {
        margin-left: 40px;
    }
    #footer-div-link {
        margin-left: 40px;
    }
}
