
body {
    margin: 0;
    font-family: sans-serif;
}
#navbar {
    display: flex;
    top: 0;
    left: 0;
    width: 85%;
    height: 100vh;
}
#nav-div {
    display: flex;
    top: 0;
    left: 0;
    background-color: #151515;
}
#div-heading {
    position: relative;
    top: 0;
    left: 70%;
}
#nav-heading {
    position: absolute;
    top: 20%;
    left: -47%;
    font-size: 50px;
    color: #ffffff;
}
#nav-image {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    opacity: 1;
}
strong {
    color: #151515;
}
#div-topicLink {
    position: relative;
    top: 0%;
    left: 30%;
}
#div-link {
    display: flex;
    flex-direction: column;
    width: 200px;
    position: absolute;
    top: 20%
}
#nav-topic {
    width: 250px;
}
#nav-link {
    text-decoration: none;
    width: 170px;
    margin-top: 20px;
}
.button {
    display: flex;
    background-color: #151515;
    color: #ffffff;
    cursor: pointer;
    border: none;
    font-size: 15px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
}
#div-ourLocation-button {
    padding: 6px;
    padding-right: 10px;
}
.fa {
    background-color: #d5966c;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 7.5px;
    padding-top: 4px;
    margin-left: 0px;
    margin-bottom: 0px;
    height: 27px;
}
.button:hover {
    background-color: #d5966c;
    transition-duration: 0.6s;
}
.fa:hover {
    background-color: #151515;
    transition-duration: 0.6s;
}

#gridHead {
    display: grid;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 80vw;
    height: 1038px;
    grid-template-columns: 400px 100px 400px;
    grid-template-rows: 330px 330px 330px;
    justify-content: center;
    gap: 1.5rem;
}
/* .gridDetail {
    border: 1px solid #151515;
} */ /* this was for testing and optimization*/
.firstGrid {
    background-color: #ffffff;
    color: #151515;
}
.secondGrid {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.thirdGrid {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.fifthGrid {
    background-color: #151515;
    color: #ffffff;
}
#first-grid-detail-heading {
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 50px;
    width: 270px;
}
#first-grid-detail-content {
    width: 240px;
}
#secondGridImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}
#thirdGridImage {
    width: 100%;
    height: 682px;
}
#fourthGridImage {
    width: 100%;
    height: 329px;
}
#last-grid-heading {
    width: 200px;
    padding-left: 30px;
    padding-top: 30px;
}
#last-grid-content {
    width: 240px;
    padding-left: 30px;
}
#footer {
    background-color: #151515;
    color: #ffffff;
    width: 100%;
    height: 200px;
    padding-top: 70px;
    left: 0;
    bottom: 0;
    margin-bottom: 0px;
}
#footer-div {
    display: flex;
    justify-content: center;
}
/* #firstFlex, #secondFlex, #thirdFlex {
    border: solid 1px;
}  /* for testing and optimization */
#thirdFlex {
    padding-left: 50px;
    padding-top: 14px;
}
#firstFlex-description {
    font-size: 30px;
    font-weight: bolder;
    width: 250px;
    margin-left: 30px;
}
#secondFlex-description {
    width: 400px;
    margin-left: 50px;
}
.footer-icon {
    padding-left: 9px;
}
.footer-image:hover {
    background-color: #d5966c;
    transition-duration: 0.6s;
    opacity: 3.5;
    border-radius: 3px;
}

@media (max-width: 1000px) {
    #gridHead {
        display: grid;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        width: 60vw;
        height: 1038px;
        grid-template-columns: 300px 80px 300px;
        grid-template-rows: 330px 330px 330px;
        justify-content: center;
        gap: 1.5rem;
    }
    #nav-heading {
        position: absolute;
        top: 10%;
        left: 85%;
        font-size: 50px;
        color: #151515;
    }
    #nav-image {
        width: 65vw;
        height: 100vh;
        object-fit: cover;
        opacity: 3;
    }
    #div-heading {
        position: relative;
        top: 0;
        left: 0;
    }
    #div-topicLink {
        position: relative;
        top: 0%;
        left: -12.5%;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 50%
    }
    #secondGridImage {
        width: 100%;
        height: 325px;
        object-fit: cover;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        width: 800px;
        margin-left: 70px;
    }
    #thirdFlex {
        display: flex;
    }
}

@media (max-width: 950px) {
    #nav-heading {
        font-size: 45px;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 50%
    }
    #footer-div {
        display: flex;
        justify-content: center;
        width: 800px;
        margin-left: 40px;
    } 
}

@media (max-width: 900px) {
    #nav-heading {
        font-size: 40px;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        width: 600px;
        margin-left: 120px;
    }
    #firstFlex-description {
        font-size: 30px;
        font-weight: bolder;
        width: 200px;
        margin-left: 20px;
    }
    #secondFlex-description {
        width: 300px;
        margin-left: 30px;
    }
}

@media (max-width: 850px) {
    #nav-heading {
        font-size: 40px;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        margin-left: 95px;
    }
    #firstFlex-description {
        font-size: 30px;
        font-weight: bolder;
        width: 200px;
        margin-left: 20px;
    }
    #secondFlex-description {
        width: 250px;
        margin-left: 30px;
    }
}

@media (max-width: 800px) {
    #nav-heading {
        font-size: 40px;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        margin-left: 70px;
    }
    #firstFlex-description {
        font-size: 30px;
        font-weight: bolder;
        width: 150px;
        margin-left: 20px;
    }
    #secondFlex-description {
        width: 250px;
        margin-left: 30px;
    }
}
@media (max-width: 750px) {
    #nav-heading {
        font-size: 35px;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 45%
    }
    #gridHead {
        display: grid;
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 300px;
        width: 45vw;
        height: 800px;
        grid-template-columns: 250px 60px 250px;
        grid-template-rows: 300px 300px 300px;
        justify-content: center;
        gap: 1.5rem;
    }
    #first-grid-detail-heading {
        font-size: 25px;
        margin-bottom: 30px;
        margin-top: 50px;
        width: 270px;
    }
    #secondGridImage {
        width: 100%;
        height: 298px;
        object-fit: cover;
    }
    #thirdGridImage {
        width: 100%;
        height: 600px;
    }
    #fourthGridImage {
        width: 100%;
        height: 298px;
    }
    #last-grid-heading {
        width: 200px;
        padding-left: 15px;
        padding-top: 30px;
    }
    #last-grid-content {
        width: 230px;
        padding-left: 15px;
        margin-left: 0px;
    }
    .fifthGrid {
       height: 276px;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        margin-left: 50px;
    }
}
@media (max-width: 700px) {
    #nav-heading {
        font-size: 35px;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        margin-left: 20px;
    } 
}
@media (max-width: 650px) {
    
    #gridHead {
        display: flex;
        flex-direction: column;
        margin-top: 1000px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 600px;
        width: 80%;
    }
    .firstGrid {
        order: 2;
    }
    .secondGrid {
        order: 1;
    }
    .thirdGrid {
        order: 3; 
    }
    .fourthGrid {
        order: 4;
    }
    .fifthGrid {
        order: 5; 
    }
    #last-grid-content {
        width: 240px;
        margin-bottom: 80px;
    }
    #first-grid-detail-heading {
        font-size: 35px;
    }
    #first-grid-detail-content {
        width: 300px;
    }
    #nav-heading {
        position: absolute;
        top: 100%;
        left: 12.4%;
        font-size: 40px;
        color: #151515;
    }
    #nav-div {
        display: flex;
        top: 0;
        left: 0;
        background-color: #ffffff;
    }
    #navbar {
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
    }
    #nav-image {
        width: 100vw;
        height: 100vh;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 130%;
    }
    #div-topicLink {
        position: relative;
        top: 0%;
        left: -90%;
    }
    #footer-div {
        display: flex;
        justify-content: center;
        margin-left: -10px;
    } 
}

@media (max-width: 600px) {
    #nav-heading {
        font-size: 30px;
        left: 12%;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 130%
    }
    #footer-div {
        display: flex;
        justify-content: center;
        margin-left: -30px;
    } 
    #firstFlex-description {
        font-size: 30px;
        font-weight: bolder;
        width: 100px;
        margin-left: 10px;
    }
    #secondFlex-description {
        width: 200px;
        margin-left: 90px;
    }
}

@media (max-width: 580px) {
    #nav-heading {
        font-size: 30px;
        left: 13%;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 125%
    }
    #footer-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 250px;
        margin-left: 30px;
    } 
     #firstFlex-description {
        font-size: 30px;
        font-weight: bolder;
        width: 250px;
        margin-left: 10px;
    }
    #secondFlex-description {
        width: 320px;
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    #thirdFlex {
        padding-left: 10px;
    }
    .footer-icon {
        padding: 15px;
    }
    #footer {
        background-color: #151515;
        color: #ffffff;
        width: 100%;
        height: 415px;
        padding-top: 70px;
        left: 0;
        bottom: 0;
        margin-bottom: 0px;
    }
}
@media (max-width: 530px) {
    #nav-heading {
        font-size: 30px;
        
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 125%
    }
}
@media (max-width: 450px) {
    #nav-heading {
        font-size: 30px;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 120%
    }
}
@media (max-width: 400px) {
    #nav-heading {
        font-size: 30px;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 120%
    }
}
@media (max-width: 350px) {
    #nav-heading {
        font-size: 30px;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 120%
    }
}
@media (max-width: 300px) {
    #nav-heading {
        font-size: 30px;
    }
    #div-link {
        display: flex;
        flex-direction: column;
        width: 200px;
        position: absolute;
        top: 120%
    }
}
/*reponsiveness for the max-heights*/
@media (max-height: 230px) {
    #div-link {
        top: 140%;
    }
    #gridHead {
        margin-top: 150px;
    }
}
@media (max-height: 250px) {
    #div-link {
        top: 120%;
    }
    #gridHead {
        margin-top: 200px;
    }
    #nav-heading {
        font-size: 30px;
    }
}
@media (max-height: 270px) {
    #div-link {
        top: 140%;
    }
    #gridHead {
        margin-top: 130px;
    }
    #nav-heading {
        font-size: 30px;
    }
}
@media (max-height: 300px) {
    #gridHead {
        margin-top: 130px;
    }
}
@media (max-height: 330px) {
    #gridHead {
        margin-top: 130px;
    }
}
@media (max-height: 400px) {
    #div-link {
        top: 60%;
    }
}